extends layout

block content
    div(class="logo")
        img(src="/images/logo.png", width="150px")
    div(class="links")
        a(href="reg") Регистрация
    div(class="links")
        a(href="users") Пользователи


