extends layout

block content
    form(action='/reg',method='post')
        //label(for='companyName') Название компании
        //    input(id='companyName', type='text', name='companyName')
        //br
        label(for='secondName') Фамилия
            input(id='secondName', type='text', value='', name='secondName')
        br
        label(for='firstName') Имя
            input(id='firstName', type='text', value='', name='firstName')
        br
        label(for='middleName') Отчество
            input(id='middleName', type='text', value='', name='middleName')
        br
        label(for='password') Пароль
            input(id='password', type='text', value='', name='password')
        br
        input(type='submit', value='Регистрация')
    h1=status
