body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.logo{
  text-align: center;
}
.links{
  text-align: center;
}
form{
  width: 300px;
  text-align: center;
  margin: auto;
}

input{
  width: 100%;
}
